@font-face {
  font-family: "Booker";
  src: url(../fonts/Booker.ttf);
}
.title {
  font-family: "Booker";
  -webkit-font-smoothing: antialiased;
  color: #2b292d;
}
.fa-github {
  color: #2b292d;
}
@media screen and (min-width: 769px) {
  .team-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

input[type="text"] {
  width: 200px;
  padding: 8px 20px 8px 45px;
  border: #fff solid 2px;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  background-position: 2% 40%;
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: transparent;
  transition: 0.5s all ease-in-out;
  filter: brightness(160%);
}

input[type="text"]:focus,
input[type="text"]:not(:placeholder-shown) {
  width: 350px;
  background-color: #fff;
  filter: brightness(100%);
}
