@font-face {
  font-family: "Booker";
  src: url(../fonts/Booker.ttf);
}
.title {
  font-family: "Booker";
  -webkit-font-smoothing: antialiased;
}
.fa-github {
  color: #000;
}
@media screen and (min-width: 769px) {
  .team-cards {
    display: flex;
    flex-wrap: wrap;
  }
}
